<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" href="/resources/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div th:replace="header::header"></div>

        <div class="middle">
            <div class="container">
                <main class="content">
                    <form th:action="@{/login}" method="post">
                        <div class="form-title"><h2 th:text="#{loc.signin.header}"></h2></div>
                        <div class="form-title"><label for="login" th:text="#{loc.login}"></label></div>
                        <input class="form-field" type="text" name="login" id="login"><br>
                        <div class="form-title"><label class="form-title" for="password" th:text="#{loc.password}"></label></div>
                        <input class="form-field" type="password" name="password" id="password"><br>
                        <button class="btn-class" type="submit" th:text="#{loc.signin.button}"></button>
                        <p class="form-title" th:if="${param.error != null}">Invalid username and password.</p>
                        <p class="form-title" th:if="${param.logout != null}">You have been logged out.</p>
                    </form>
                </main><!-- .content -->
            </div><!-- .container-->

            <div th:replace="side_menu::menu"></div>
        </div><!-- .middle-->
    </div><!-- .wrapper -->

    <div th:replace="footer::footer"></div>

</body>
</html>