<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>New tournament</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" href="/resources/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div th:replace="header::header"></div>

        <div class="middle">
            <div class="container">
                <main class="content">


                    <button class="btn-class" type="submit" onclick="sendToServer()">Сохранить турнир</button>
                </main><!-- .content -->
            </div><!-- .container-->

            <div th:replace="side_menu::menu"></div>
        </div><!-- .middle-->
    </div><!-- .wrapper -->
<div th:replace="footer::footer"></div>
</body>
</html>