<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Create Group</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" href="/resources/css/style.css">
</head>
<body>
<div class="wrapper">
    <div th:replace="header::header"></div>

    <div class="middle">
        <div class="container">
            <main class="content">

                <form th:action="@{/tournament/groups/createRegularGroup}" th:method="post" th:object="${regularGroup}">
                    <h2 class="form-title">Создаем новую группу</h2>
                    <p>Наименование группы</p>
                    <input class="form-field" id="name" name="name" th:field="*{groupName}">
                    <p>Количество матчей между командами</p>
                    <input class="form-field" id="matchCount" name="matchCount" th:field="*{matchesCountBetweenTeams}">
                    <p>Количество команд в группе</p>
                    <input class="form-field" id="teamCount" name="teamCount" th:field="*{teamsCountInGroup}">
                    <p>Количество команд выходяйщих в плейофф</p>
                    <input class="form-field" id="playoffCount" name="playoffCount" th:field="*{groupOutCount}">
                    <br>
                    <button class="btn-class" type="submit">Создать группу</button>
                </form>

            </main><!-- .content -->
        </div><!-- .container-->

        <div th:replace="side_menu::menu"></div>
    </div><!-- .middle-->
</div><!-- .wrapper -->

<!--<div sec:authorize="hasAuthority('ADMIN')">-->
<!--This content is only shown to administrators. РАБОТАЕТ!!!!-->
<!--</div>-->

<!--<sec:authorize access="hasRole('ROLE_ADMIN')">-->
<!--тут то что видит только ROLE_ADMIN. РАБОТАЕТ!!!!-->
<!--</sec:authorize>-->

<div th:replace="footer::footer"></div>

</body>
</html>