<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Tournament list</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" href="/resources/css/style.css">
</head>
<body>

<div class="wrapper">
    <div th:replace="header::header"></div>

    <div class="middle">
        <div class="container">
            <main class="content">

                <button class="btn-class" type="submit" name="idReg" value="${requestScope.tournament.id}">Зарегистрироваться на турнир</button>
                <button class="btn-class" type="submit" name="idClose" value="${requestScope.tournament.id}">Завершить турнир</button>
                <button class="btn-class" type="submit" name="idConfig" value="${requestScope.tournament.id}">Настройка турнира</button>

                <h2 class="form-title" th:text="${tournament.name}" >Турнир: </h2>
                <p>Дата начала игр турнира: <span class="span-class" th:text="${tournament.startDate}"> </span></p>
                <p>Страна организатор турнира: <span class="span-class" th:text="${tournament.organizer.teamName}">  </span></p>
                <p th:text="#{loc.tournament.state}">Состояние турнира: <span class="span-class" th:text="${tournament.tournamentState}"> </span></p>
                <div th:if="${!tournament.matches.isEmpty()}">
                    <table class="simple-little-table">
                        <tr>
                            <th>Матч</th>
                            <th>Счет</th>
                            <th>Дата матча</th>
                        </tr>
                            <tr class="widget-list3" th:each="match : ${tournament.matches}">
                                <td th:text="${match.firstTeam.teamName + ' - ' + match.firstTeam.teamName}"></td>
                                <td>
                                    <span th:if="${match.matchFinalResult} != null"
                                          th:text="${match.matchFinalResult.firstResult + ' - ' + match.matchFinalResult.secondResult}"></span>
                                    <span class="span-class_green" th:if="${match.matchFinalResult} == null">ожидается</span>
                                </td>
                                <td th:text="${match.matchDateTime}"></td>
                            </tr>
                    </table>
                </div>
            </main><!-- .content -->
        </div><!-- .container-->

        <div th:replace="side_menu::menu"></div>
    </div><!-- .middle-->
</div><!-- .wrapper -->

<div th:replace="footer::footer"></div>

</body>
</html>