<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Tournament list</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" href="/resources/css/style.css">
</head>
<body>
<div class="wrapper">
    <div th:replace="header::header"></div>

    <div class="middle">
        <div class="container">
            <main class="content">

                <form th:action="@{/match}" th:method="post" th:object="${match}">
                    <h3 class="form-title" th:text="'Турнир:'+ *{strMatchDateTime}"></h3>
                    <p>Начало матча: <span class="span-class" th:text="*{strMatchDateTime+', '+matchState.matchState}"></span></p>
                    <!--<p>Тип матча: <span class="span-class">${requestScope.match.matchType}</span></p>-->
                    <p>Команды: <span class="span-class" th:text="*{firstTeam+' - '+secondTeam}"></span></p>
                    <p>Счет матча:
                        <span class="span-class"
                             th:text="(*{matchScore==null}) ? '-' : *{matchScore.firstResult+' - '+matchScore.secondResult}">
                        </span>
                    </p>
                    <p>Мой прогноз:
                        <span class="span-class"
                              th:text="(*{currentUserForecast==null}) ? '-' : *{currentUserForecast.firstResult+' - '+currentUserForecast.secondResult}">
                       </span>
                    </p>
                    <p>Всего прогнозов на матч: <span class="span-class" th:text="*{forecastsCount}"></span></p>
                    <h3 class="form-title">Предматчевая статистика</h3>
                    <p>Прогнозов на победу первой команды: <span class="span-class" th:text="*{firstTeamWinCount}"></span></p>
                    <p>Прогнозов на победу второй команды: <span class="span-class" th:text="*{secondTeamWinCount}"></span></p>
                    <p>Прогнозов на ничью:<span class="span-class" th:text="*{drawCount}"></span></p>
                    <h3 class="form-title">Статистика по результатам матча</h3>
                    <p>Угаданн счет в матче, количество: <span class="span-class" th:text="*{guessedResultsCount}"></span></p>
                    <p>Угадан исход матча, количество: <span class="span-class" th:text="*{guessedWinnersCount}"></span></p>
                    <p>Угадана разница счета, количество: <span class="span-class" th:text="*{guessedDiffInResultsCount}"></span></p>
                    <p>Получено очков в этом матче: <span class="span-class" th:text="*{currentUserPoints}"></span></p>
                    <!--<c:if test="${requestScope.isActive}">-->
                        <!--<button class="btn-class" type="submit" name="idForecast" value="${requestScope.match.id}">Сделать прогноз на матч</button>-->
                    <!--</c:if>-->
                    <!--<c:if test="${sessionScope.loggedUser.userStateId == 4}">-->
                        <!--<button class="btn-class" type="submit" name="idMatch" value="${requestScope.match.id}">Внести счет матча</button>-->
                    <!--</c:if>-->
                </form>

            </main><!-- .content -->
        </div><!-- .container-->

        <div th:replace="side_menu::menu"></div>
    </div><!-- .middle-->
</div><!-- .wrapper -->

<!--<div sec:authorize="hasAuthority('ADMIN')">-->
    <!--This content is only shown to administrators. РАБОТАЕТ!!!!-->
<!--</div>-->

<!--<sec:authorize access="hasRole('ROLE_ADMIN')">-->
    <!--тут то что видит только ROLE_ADMIN. РАБОТАЕТ!!!!-->
<!--</sec:authorize>-->

<div th:replace="footer::footer"></div>
</body>
</html>