<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Tournament list</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" href="/resources/css/style.css">
</head>
<body>
<div class="wrapper">
    <div th:replace="header::header"></div>

    <div class="middle">
        <div class="container">
            <main class="content">
                <h2 class="form-title">Выберите турнир для просмотра результатов: </h2>

                <ul class="widget-list2" th:if="${!tournaments.isEmpty()}">
                    <li th:each="tournament: ${tournaments}">
                        <a th:href="@{/tournamentStats/results(tournamentId=${tournament.id})}"
                           th:text="${tournament.name}"></a>
                        <p> Старт турнира: [[${tournament.startDate}]]</p>
                    </li>
                </ul>

            </main><!-- .content -->
        </div><!-- .container-->

        <div th:replace="side_menu::menu"></div>
    </div><!-- .middle-->
</div><!-- .wrapper -->

<div th:replace="footer::footer"></div>
</body>
</html>