<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User forecasts</title>
</head>
<body>

    <p>Список прогнозов пользователя на выбранный турнир</p>
    <form th:action="@{/listOfForecasts}" method="post" th:object="${forecastFilter}">
        <p>Выберите турнир для просмотра:</p>
        <select class="form-field" id="tournamentId" th:field="*{tournamentId}">
            <option th:each="tournament:${tournaments}"
                    th:text="${tournament.name}"
                    th:value="${tournament.id}">
            </option>
        </select>

        <p>Выберите пользователя:</p>
        <select class="form-field" id="userId" th:field="*{userId}">
            <option th:each="user:${users}"
                    th:text="${user.firstName+' '+user.secondName}"
                    th:value="${user.id}">
            </option>
        </select>

        <p>Завершенные матчи?
            <label for="finished">
                <input type="radio" id="finished" th:field="*{matchStateId}" th:value="2">
                <span>Да</span>
            </label>
            <label for="notFinished">
                <input type="radio" id="notFinished" th:field="*{matchStateId}" th:value="1">
                <span>Нет</span>
            </label>
        </p>

        <p>Количество записей на странице<p>
        <select class="form-field" id="recordsCnt" th:field="*{recordsOnPage}">
            <option th:value="5">5</option>
            <option th:value="10">10</option>
            <option th:value="20">20</option>
        </select>

        <p><button class="btn-class" type="submit">Применить фильтр</button></p>
    </form>

    <div th:if="${!forecasts.isEmpty()}">
        <span th:each="page:${#numbers.sequence(0,forecastFilter.pagesCount)}">
            <a th:href="@{/listOfForecasts(pageId=${page})}"
               th:text="${page+1}">page</a>
        </span>
    </div>

    <div th:if="${!forecasts.isEmpty()}">
    <table class="simple-little-table">
        <tr>
            <th>Команда 1</th>
            <th>Команда 2</th>
            <th>Прогноз 1</th>
            <th>Прогноз 2</th>
        </tr>
            <tr class="widget-list3" th:each="forecast:${forecasts}">
                <td th:text="${forecast.match.firstTeam.teamName}"></td>
                <td th:text="${forecast.match.secondTeam.teamName}"></td>
                <td th:text="${forecast.matchForecast.firstResult}"></td>
                <td th:text="${forecast.matchForecast.secondResult}"></td>
            </tr>
    </table>
    </div>
</body>
</html>