<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Group</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" href="/resources/css/style.css">
</head>
<body>
<div class="wrapper">
    <div th:replace="header::header"></div>

    <div class="middle">
        <div class="container">
            <main class="content">

                ГРУППА:

            </main><!-- .content -->
        </div><!-- .container-->

        <div th:replace="side_menu::menu"></div>
    </div><!-- .middle-->
</div><!-- .wrapper -->

<!--<div sec:authorize="hasAuthority('ADMIN')">-->
<!--This content is only shown to administrators. РАБОТАЕТ!!!!-->
<!--</div>-->

<!--<sec:authorize access="hasRole('ROLE_ADMIN')">-->
<!--тут то что видит только ROLE_ADMIN. РАБОТАЕТ!!!!-->
<!--</sec:authorize>-->

<div th:replace="footer::footer"></div>

</body>
</html>