<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Tournament list</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" href="/resources/css/style.css">
</head>
<body>
<div class="wrapper">
    <div th:replace="header::header"></div>

    <div class="middle">
        <div class="container">
            <main class="content">
                <div class="widget-list4" th:if="${!matches.isEmpty()}">
                    <h3 class="form-title">Выберите матч для прогноза</h3>
                        <p th:each="match: ${matches}">
                            <a th:href="@{/match(matchId=${match.id})}" th:text="${match.firstTeam.teamName+' - '+match.secondTeam.teamName}"></a>
                            <span class="span-class-list" th:text="${match.matchDateTime}"> </span>
                        </p>
                </div>
                <h3 class="form-title" th:if="${matches.isEmpty()}">Нет матчей для прогноза</h3>
            </main><!-- .content -->
        </div><!-- .container-->

        <div th:replace="side_menu::menu"></div>
    </div><!-- .middle-->
</div><!-- .wrapper -->

<div th:replace="footer::footer"></div>
</body>
</html>