<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Group</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" href="/resources/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div th:replace="header::header"></div>

        <div class="middle">
            <div class="container">
                <main class="content">
                    <h2 class="form-title">[[${offGroup.groupName}]] турнира [[${tournament.name}]]:</h2>
                    <p>Количество матчей между командами: <span class="span-class" th:text="${offGroup.matchesCountBetweenTeams}"></span></p>
                    <p>Дополнительное время:
                        <span class="span-class" th:if="${offGroup.extraTimeAllowed}" >разрешено</span>
                        <span class="span-class" th:if="${!offGroup.extraTimeAllowed}" >запрещено</span>
                    </p>

                </main><!-- .content -->
            </div><!-- .container-->

            <div th:replace="side_menu::menu"></div>
        </div><!-- .middle-->
    </div><!-- .wrapper -->
    <div th:replace="footer::footer"></div>

</body>
</html>