<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Tournament list</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" href="/resources/css/style.css">
</head>
<body>
<div class="wrapper">
    <div th:replace="header::header"></div>

    <div class="middle">
        <div class="container">
            <main class="content">

                <h3 class="form-title">Добавляем матч в турнир</h3>
                <div class="form-title">Дата и время начала матча</div>
                <p th:text="${match.matchDateTime}"></p>
                <!--<input class="form-field" type="datetime-local" id="matchDateTime" name="matchDateTime">-->
                <!--<div class="form-title">Тип матча</div>-->
                <!--<select class="form-field" id="matchType" name="matchType">-->
                    <!--<c:forEach var="type" items="${requestScope.matchTypes}">-->
                        <!--<option value="${type.key}">${type.value}</option>-->
                    <!--</c:forEach>-->
                <!--</select>-->
                <!--<div class="form-title">Первая команда участник</div>-->
                <!--<select class="form-field" id="firstTeam" name="firstTeam">-->
                    <!--<c:forEach var="country" items="${requestScope.countries}">-->
                        <!--<option value="${country.id}">${country.teamName}</option>-->
                    <!--</c:forEach>-->
                <!--</select>-->
                <!--<div class="form-title">Вторая команда участник</div>-->
                <!--<select class="form-field" id="secondTeam" name="secondTeam">-->
                    <!--<c:forEach var="country" items="${requestScope.countries}">-->
                        <!--<option value="${country.id}">${country.teamName}</option>-->
                    <!--</c:forEach>-->
                <!--</select>-->
                <!--<button class="btn-class" type="submit" id="tournamentId" name="tournamentId" value="${requestScope.tournamentId}" onclick="sendToServer()">Сохранить матч</button>-->
                <!--<div class="form-title" id="displayed-data"></div>-->

            </main><!-- .content -->
        </div><!-- .container-->

        <div th:replace="side_menu::menu"></div>
    </div><!-- .middle-->
</div><!-- .wrapper -->

<!--<div sec:authorize="hasAuthority('ADMIN')">-->
    <!--This content is only shown to administrators. РАБОТАЕТ!!!!-->
<!--</div>-->

<!--<sec:authorize access="hasRole('ROLE_ADMIN')">-->
    <!--тут то что видит только ROLE_ADMIN. РАБОТАЕТ!!!!-->
<!--</sec:authorize>-->

<div th:replace="footer::footer"></div>
</body>
</html>