<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Tournament list</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" href="/resources/css/style.css">
</head>
<body>
<div class="wrapper">
    <div th:replace="header::header"></div>

    <div class="middle">
        <div class="container">
            <main class="content">
                <h2 class="form-title">Список проводящихся турниров</h2>
                <ul class="widget-list2">
                    <c:forEach var="tournament" items="${requestScope.tournaments}">
                        <li><a href="${pageContext.request.contextPath}/tournament?id=${tournament.id}">${tournament.name}</a><p>  Старт турнира: ${tournament.strStartDate},
                            <c:if test="${tournament.userId == 0}">
                                <span class="span-class_red">нет регистрации</span>
                            </c:if>
                            <c:if test="${tournament.userId != 0}">
                                <span class="span-class_green">зарегистрирован</span>
                            </c:if>
                        </p></li>
                    </c:forEach>
                </ul>
                <form th:action="@{/tournamentList}" method="post" sec:authorize="hasAuthority('ADMIN')">
                    <button class="btn-class" type="submit">Добавить новый турнир</button>
                </form>

            </main><!-- .content -->
        </div><!-- .container-->

        <div th:replace="side_menu::menu"></div>
    </div><!-- .middle-->
</div><!-- .wrapper -->

<div th:replace="footer::footer"></div>
</body>
</html>